body{
    margin: 0;
    padding:0;
    background: #29bde0;
}
a{
    width: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: white;
}
header{
    position: fixed;
    color:white;
    padding:15px 0;
    width: 100%;
    left: 0;
    top:0;
}
header .left{
    float: left;
    color: white;
    padding-left: 10px;
}
header .right img,header .left img{
    width: 24px;
}
header .right{
    float: right;
    color: white;
    padding-right: 10px;
}
header h2{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size:24px;
}
main{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 90px;
    overflow-x:hidden; 
}
.tlk{
    background: url(../images/01.png) repeat-x;
    height: 42px;
    line-height: 42px;
}
.tlk img{
    width: 26px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.tlk p{
    padding:0;
    margin:0;
    color: #464646;
    margin-left: 40px;
}
.jt{
    background: url(../images/08.png) no-repeat ;
    height: 52px;
}
.jt p{
    color: white;
    padding:0;
    margin:0;
    line-height:52px;
    margin-left: 50px;
    font-size: 12px;
}
.content{
    width: 100%;
    margin-left: 3%;
}
.content .fg{
    float: left;
    padding:12% 0 12% 0;
    margin: 6% 3% 10% 3%;
    width: 24%;
    background: white;
    position: relative;
}
.nk{
    position: absolute;
    left: 3%;
    top: 3%;
    bottom: 3%;
    right: 3%;
    background: #f5c97b;
    margin:0 auto;
    padding: 10% 0;
}
.nk p{
    color: white;
    text-align: center;
}
.nk span{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    background: #83b09a;
}
footer{
    position: fixed;
    background: #29bde0;
    height: 90px;
    left: 0;
    bottom: 0;
    right: 0;
}
.sub{
    background: #fbb435;
    width: 80%;
    height: 50px;
    margin: 0 auto;
}
.sub h2{
    text-align: center;
    color: white;
    line-height: 50px;
}
.sub h2 a{
    color: white;
    text-decoration: none;
}
.sub h2 a:hover{
    color: white;
    text-decoration: none;
}
.tb{
    position: absolute;
    left: 0;
    right: 0;
    float: left;
    padding-top: 60%;
    display: none;
}
.tb img{
    float: left;
    width: 19%;
    margin: 0 3%;
}
.fg:hover .tb{
    display:block;
}
